/* 
 * wq DatePicker 1.0
 */
.clearfix:before,
.clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	clear: both;
}
.dp-wrapper{
	position: relative;
	z-index: 99999;
	border:#bbb 1px solid;
	display: inline-block;
}
.dp-date{
	width:180px;
	background-color:#FFFFFF;
	padding:2px;
	float: left;
	font-size: 9pt;
	-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;/*禁用选择文本*/
}
.dp-pre,
.dp-next{
	display: inline-block;
    cursor: pointer;
    height: 16px;
    width: 16px;
    position: absolute;
    top: .3em;
    z-index: 99;
}
.dp-pre.month{
	background: transparent url(skin/default/img.gif) no-repeat scroll -16px 0;
	left: 16px
}
.dp-pre.year{
    background: transparent url(skin/default/img.gif) no-repeat scroll 0 0;
    left: 0px
}
.dp-next.month{
    background: transparent url(skin/default/img.gif) no-repeat scroll -32px 0;
    right: 16px
}
.dp-next.year{
	background: transparent url(skin/default/img.gif) no-repeat scroll -48px 0;
	right: 0px
}
.dp-headbar{
	text-align: center;
	line-height: 2;
	padding-bottom: 2px;
	position: relative;
}
.dp-curmonth,
.dp-curyear{
	display: inline-block;
	width: 60px;
	outline: 1px;
	border: 1px solid rgba(77,144,254,0);
}
/*.dp-curmonth{
	cursor: pointer;
}*/
.dp-curmonth.active,
.dp-curyear.active{
	border: 1px solid rgb(77,144,254);
    color: blue;
    border-radius: 2px;
}
.dp-curmonth.active ~ .month{
	display: block;
}
.dp-sel{
	display: none;
	top: 25px;
	position: absolute;
    width: 60px;
    background: #fff;
    left: 28px;
    border:1px solid #ccc;
}
.dp-sel-item{
	float: left;
	width: 30px;
	line-height: 1.8;
	cursor: pointer;
}
.dp-table{
	line-height: 20px;
    border: #c5d9e8 1px solid;
}
.dp-table-title{
	background-color:#BDEBEE;
}
.dp-sel-item:hover,
.dp-table-otherday:hover,
.dp-table-wwday:hover,
.dp-table-wday:hover{
	background-color:#A9E4E9;
	color:#000;
}
.dp-table-otherday.active,
.dp-table-wwday.active,
.dp-table-wday.active{
    background-color: #7db4ff;
    color: #474747;
}
.dp-table-otherday.today,
.dp-table-wwday.today,
.dp-table-wday.today{
	background-image: url(skin/default/today.png);
	background-size: 100% ;
	background-repeat: no-repeat;
}
.dp-table-otherday,
.dp-table-wwday,
.dp-table-wday{
	text-align: center;
	cursor: pointer;
}
.dp-table-otherday{
	color: #6A6AFF;
}
.dp-table-wwday{
    color: #FF2F2F;
}