@{
    ViewBag.Title = "后台管理";
    User user = UserContext.CurrentUser;
}
<section class="content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

        </div>
    </div>
</section>
