<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="SqlServer" 
        connectionString="Data Source=218.58.56.138,1435\MSSQLServer2014;Initial Catalog=Giraffe_dev;User ID=sa;Password=admin@123;Integrated Security=False;Persist Security Info=False;MultipleActiveResultSets=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <system.web>
  </system.web>
</configuration>